{% load static %}
<style>
    body {
        font-family: Arial, sans-serif;
    }
    .slice text {
        font-size: 12px;
        text-anchor: middle;
        fill: #fff;
        pointer-events: none;
    }
</style>
<div class="row">
    <!-- Total Revenue -->
    <div class="col-12 col-lg-9 order-2 order-md-3 order-lg-2 mb-4">
        <div class="card">
            <div class="row row-bordered g-0">
                <div class="col-md-12">
                    <h5 class="card-header m-0 me-2 pb-3">CPU utilazation</h5>
                    <svg width="600" height="600"></svg>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="card">
        
    </div>   
</div>